* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e8f5f7;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 20px;
  padding: 10px 30px;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 100;
}

.nav-item a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.active {
  border-bottom: 2px #824fed solid;
}

@media only screen and (max-width: 767px) {
  .nav-item a {
    font-size: 12px;
  }
}
